
  .brand-section {
    padding: 2rem 0 1rem 0;
    background-color: #9cbc81cc;
    margin-bottom: 50px;
  }
  h3 {
    text-align: center;
    text-transform: capitalize;
    color: rgb(83, 76, 76);
    font-size: 2rem;
    font-weight: bold;
  }
  slide img {
    min-width: 10rem;
    height: 10rem;
    color: black;
  }
  .brand-section-slider {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  @media (max-width: 300px) {
    .brand-section-slider {
      margin-top: 3.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* background-color: red; */
      text-align: center;
    }
  }